body {
  margin: auto;
  padding: auto;
  font-family: "Courier Prime", monospace;
  background-color: #F9F9F9;
  color: #303030;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 700;
}

h6 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Courier Prime", monospace;
  font-weight: 300;
}

.row {
  max-width: 100%;
  margin: none;
}

body::-webkit-scrollbar {
  display: none;
}

a,
a:hover {
  /* text-decoration: none;
  color: #303030; */
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.btn,
.btn:hover,
.btn:active {
  border-radius: 1px;
}

.spanTxt {
  font-family: "Courier Prime", monospace;
  font-size: 38px;
}

.top h3 {
  font-size: 28px;
  font-weight: 300;
}

.mainHr {
  width: 90%;
  margin: auto;
  background-color: black;
  height: 1px;
}

.subtop p {
  font-size: larger;
}

svg :hover {
  cursor: pointer;
}

.card {
  border: none;
}

.navbar-brand {
  font-family: "Baloo 2", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #303030;
}

.navbar .navbar-toggler {
  border: none;
  box-shadow: none;
}

.nav-link {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #303030;
}

.navbar.scrolled-main-pg {
  background-color: #f2f2f2;
  transition: 400ms;
  color: #303030;
}

.navbar.scrolled-oth-pg {
  background-color: #f2f2f2;
  transition: 400ms;
  color: #303030;
}

.lander {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 7.5%);
}

.mainHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 50px 0px;
}

.mainSec {
  padding: 30px 0px 100px 0px;
}

.mainSec p {
  width: 60%;
  margin: auto;
  padding: 10px 0px;
}

.workSec {
  width: 100%;
  padding: 5% 0%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 7% 3% 7%;
}

.exp .head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0% 7% 3% 7%;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
}

.showcase > .row {
  padding: 0px 0px 100px 0px;
}

.showcase .post .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
}

.gallery .gallery-grid .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 15px;
}

.gallery-grid .row .column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery .gallery-grid .row .column img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
  object-fit: contain;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 50%;
  margin: auto;
  width: 100%;
  transform: translate(-50%, 50%);
}

.blog .blog-items .card {
  width: 60%;
  margin: auto;
  background-color: #f9f9f9;
}

.blog-title {
  text-decoration: none;
  color: #303030;
}

.blog-title:hover {
  text-decoration: underline;
  color: #303030;
}

.blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  margin: auto;
  width: 100%;
  transform: translate(-50%, 50%); 
}

.blog-page .details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.blog-page .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 50px 0px 30px 0px;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .lander {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -50%;
    left: 50%;
    width: 100%;
    padding: 0px 10px;
    transform: translate(-50%, 10%);
  }

  .mainHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 50px 0px;
  }

  .mainSec {
    padding: 10px 0px;
  }

  .mainSec p {
    width: 90%;
    margin: auto;
    padding: 10px 0px;
  }

  .workSec h4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .gallery-grid .row .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}