body {
  margin: auto;
  padding: auto;
  font-family: "Courier Prime", monospace;
  background-color: #F9F9F9;
  color: #303030;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 700;
}

h6 {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Courier Prime", monospace;
  font-weight: 300;
}

.row {
  max-width: 100%;
  margin: none;
}

body::-webkit-scrollbar {
  display: none;
}

a,
a:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.btn,
.btn:hover,
.btn:active {
  border-radius: 1px;
}

.spanTxt {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 38px;
  font-weight: 700;
}

.top h3 {
  font-size: 28px;
  font-weight: 600;
}

.mainHr {
  width: 90%;
  margin: auto;
  background-color: black;
  height: 1px;
}

.subtop p {
  font-size: larger;
}

svg :hover {
  cursor: pointer;
}

.card {
  border: none;
}

.navbar-brand {
  font-family: "Baloo 2", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #303030;
}

.navbar .navbar-toggler {
  border: none;
  box-shadow: none;
}

.nav-link {
  font-family: "Schibsted Grotesk", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #303030;
}

.navbar.scrolled-main-pg {
  background-color: #f2f2f2;
  transition: 400ms;
  color: #303030;
}

.navbar.scrolled-oth-pg {
  background-color: #f2f2f2;
  transition: 400ms;
  color: #303030;
}

.lander {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 5%);
}

.mainHead {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 50px 0px;
}

.mainHead .prof-pic {
  width: 10%;
  margin: auto;
  padding-bottom: 20px;
  border-radius: 50%;
}

.mainHead .prof-pic img {
  border-radius: 50%;
  border: 2px solid #f2f2f2;
  width: 100px;
  margin: auto;
  filter: grayscale(100%);
}

.mainHead .prof-pic {
  width: 100%;
  text-align: center;
  margin: auto;
}

.mainHead .prof-pic img:hover {
  filter: none;
  cursor: pointer;
}

.mainSec {
  padding: 30px 0px 100px 0px;
}

.mainSec p {
  width: 60%;
  margin: auto;
  padding: 10px 0px;
}

.mainSec .links a {
  color: #303030;
}

.yt {
  margin: 60px 0px 0px 0px;
}

.scrolling-wrapper {
  max-width: 100%;
  width: 100rem;
  max-height: 580px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 0px;
}

.scroll-card {
  display: inline-block;
  margin: 0px 10px;
}

.scroll-card iframe {
  border-radius: 10px;
  border: 5px solid #f2f2f2;
  box-shadow: 0px 0px 10px #3030302f;
}

.workSec {
  width: 100%;
  padding: 5% 0%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.exp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0% 7% 2% 7%;
}

.work-pic {
  width: 60px;
  margin: 0px;
  border-radius: 10%;
  border: none;
  filter: grayscale(100%);
}

.work-pic:hover {
  box-shadow: 0px 4px 6px #3030302f;
  filter: none;
}

.work-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0% 7% 3% 7%;
}

.projects .card {
  border: 1px solid #F9F9F9;
  max-width: 100%;
  margin: auto;
}

.projects .card:hover {
  box-shadow: 2px 2px 10px #3030302f;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
}

.showcase .row {
  padding: 0px 0px 20px 0px;
}

.showcase .post .images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.gallery {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, 0%);
}

.gallery .gallery-grid .row,
.poster-grid .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  margin: 0 15px;
}

.gallery-grid .row .column,
.poster-grid .row .column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery .gallery-grid .row .column img,
.poster-grid .row .column img {
  width: 100%;
  margin-top: 8px;
  vertical-align: middle;
  object-fit: contain;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 50%;
  margin: auto;
  width: 100%;
  transform: translate(-50%, 50%);
}

.blog .blog-items .card {
  width: 60%;
  margin: auto;
  background-color: #f9f9f9;
}

.blog-title {
  text-decoration: none;
  color: #303030;
}

.blog-title:hover {
  text-decoration: underline;
  color: #303030;
}

.blog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  margin: auto;
  width: 100%;
  transform: translate(-50%, 50%);
}

.blog-page .details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.blog-page .container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 50px 0px 30px 0px;
  bottom: -5%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .lander {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 100%;
    padding: 0px 10px;
    transform: translate(-50%, 0%);
  }

  .mainHead {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 50px 0px;
  }

  .scrolling-wrapper {
    max-width: 100%;
    width: 30rem;
    max-height: 580px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .work-pic {
    width: 10px;
    margin: 0px;
    border-radius: 10%;
    border: none;
    filter: grayscale(100%);
  }

  .lander .prof-pic {
    width: 100%;
  }

  .lander .prof-pic .img-thumbnail {
    width: 100px;
  }

  .mainSec {
    padding: 10px 0px;
  }

  .mainSec p {
    width: 90%;
    margin: auto;
    padding: 10px 0px;
  }

  .lander .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .links .text-center {
    margin: auto;
    padding: 10px;
  }

  .exp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0% 7% 2% 7%;
  }

  .exp .work-head .work-pic {
    width: 20%;
  }

  .exp .work-head .work-title {
    width: 100%;
    max-width: 100%;
    background-color: aqua;
  }

  .blog-page .details .date {
    width: 100%;
  }

  .blog-page .icons {
    width: 100%;
  }

  .projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .gallery-grid .row .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}